.register_form {
  width: 440px;
  margin-left: 400px;
  background-color: rgb(32, 31, 31);
}
.login-acc-btn {
  background: transparent;
  border: none;
}
.login-register-btn {
  width: 80%;
  margin-left: 30px;
}
.input_field {
  background: transparent;
  width: 80%;
  margin-left: 35px;
  padding: 10px;
  margin-top: 9px;
  border: 2px solid gray;
  border-radius: 5px;
  color: white;
}
.modal_centered {
  position: relative;
}

.close_btn {
  position: absolute;
  color: white;
  background-color: gray;
  top: 40px;
  left: 830px;
  cursor: pointer;
  z-index: 1000;
}
@media (max-width:992px){
  .register_form {
    margin-left: 200px;
  }
}
@media (max-width:600px){
  .register_form {
    width: 440px;
    margin-left: 20px;
  }
}
